<%- include('partials/header') %>


<div class="container-fluid cf-main">
    <div class="row">
        <div class="col-md-12" style="background-color: #FFF9B0;padding-top: 15px;">
            <h1 class="mainHead">BILL MAINTENANCE SOFTWARE</h1>
        </div>
        <h4 style="padding: 2% 0% 0%; font-weight: bold; color: red;">STATE BILL HISTORY</h4>
        <div class="col-md-12" style="background-color: #faf6cf; margin:0px 0px 10px 0px; height: 400px; overflow: auto">
            
            <table class="table" style="text-align: left; height:400px">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Date</th>
                    <th scope="col">Party</th>
                    <th scope="col">Items</th>
                    <th scope="col">Taxable Value</th>
                    <th scope="col">CGST</th>
                    <th scope="col">SGST</th>
                    <th scope="col">IGST</th>
                    <th scope="col">Total Bill Value</th>
                    <th scope="col">Transport</th>
                    <th scope="col">Original</th>
                    <!-- <th scope="col">Duplicate</th> -->
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (bills) { %>
                     <% bills.forEach(bill => { %>
                      <% if (bill.gstType === "State") { %>
                        <tr>
                          <th scope="row"><%= bill.invoiceNumber %></th>
                          <td><%= bill.billDate.toISOString().substring(0, 10) %></td>
                          <td><%=bill.party%></td>
                          <td>
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%=bill._id%>">
                                  Items
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-<%=bill._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Particulars</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                          <table class="table">
                                              <thead>
                                                <tr style="background-color: red;color:white;">
                                                  <th scope="col">Case No</th>
                                                  <th scope="col">Name</th>
                                                  <th scope="col">Quantity</th>
                                                  <th scope="col">Rate</th>
                                                  <th scope="col">Per</th>
                                                  <th scope="col">Subtotal</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                  <% bill.billItems.forEach(items => { %>
                                                      <tr style="background-color: rgb(255, 217, 217);">
                                                          <td><%=items.caseNum%></td>
                                                          <td><%=items.name%></td>
                                                          <td><%=items.quantity%></td>
                                                          <td>&#8377;<%=items.Rate%></td>
                                                          <td><%=items.per%></td>
                                                          <td>&#8377;<%=items.subTotal%></td>
                                                        </tr>
                                                  <% }) %>
                                                
                                              </tbody>
                                            </table>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          </td>
                          <td>&#8377;<%=bill.billAmount%></td>
                          <td>&#8377;<%=bill.cgst%></td>
                          <td>&#8377;<%=bill.sgst%></td>
                          <td>&#8377;<%=bill.igst%></td>
                          <td>&#8377;<%=bill.totalBillValue%></td>
                          <td><%=bill.transport%></td>
                          <td><a href="/printBillOriginal/<%=bill._id%>" role="button" class="btn btn-secondary btn-sm"><i class="bi bi-printer-fill"></i></a></td>
                          <!-- <td><a href="/printBillDupe/<%=bill._id%>" role="button" class="btn btn-secondary btn-sm"><i class="bi bi-printer-fill"></i></a></td> -->
                          <td><a href="/deleteBill/<%=bill._id%>" role="button" class="btn btn-danger btn-sm">X</a></td>
                        </tr>
                      <% } %>
                        
                     <% }) %>
                    <% } %>
                  
                 
                </tbody>
              </table>
        </div>
        <h4 style="padding: 2% 0% 0%; font-weight: bold; color: red;">CENTRAL BILL HISTORY</h4>
        <div class="col-md-12" style="background-color: #faf6cf; margin: 0px 0px 10px 0px; height: 400px; overflow: auto">
          
          <table class="table" style="text-align: left; height:400px">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Date</th>
                  <th scope="col">Party</th>
                  <th scope="col">Items</th>
                  <th scope="col">Taxable Value</th>
                  <th scope="col">CGST</th>
                  <th scope="col">SGST</th>
                  <th scope="col">IGST</th>
                  <th scope="col">Total Bill Value</th>
                  <th scope="col">Transport</th>
                  <th scope="col">Original</th>
                  
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                  <% if (bills) { %>
                   <% bills.forEach(bill => { %>
                    <% if (bill.gstType === "Central") { %>
                      <tr>
                        <th scope="row"><%= bill.invoiceNumber %></th>
                        <td><%= bill.billDate.toISOString().substring(0, 10) %></td>
                        <td><%=bill.party%></td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%=bill._id%>">
                                Items
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal-<%=bill._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Particulars</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table">
                                            <thead>
                                              <tr style="background-color: red;color:white;">
                                                <th scope="col">Case No</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Rate</th>
                                                <th scope="col">Per</th>
                                                <th scope="col">Subtotal</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                <% bill.billItems.forEach(items => { %>
                                                    <tr style="background-color: rgb(255, 217, 217);">
                                                        <td><%=items.caseNum%></td>
                                                        <td><%=items.name%></td>
                                                        <td><%=items.quantity%></td>
                                                        <td>&#8377;<%=items.Rate%></td>
                                                        <td><%=items.per%></td>
                                                        <td>&#8377;<%=items.subTotal%></td>
                                                      </tr>
                                                <% }) %>
                                              
                                            </tbody>
                                          </table>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                        <td>&#8377;<%=bill.billAmount%></td>
                        <td>&#8377;<%=bill.cgst%></td>
                        <td>&#8377;<%=bill.sgst%></td>
                        <td>&#8377;<%=bill.igst%></td>
                        <td>&#8377;<%=bill.totalBillValue%></td>
                        <td><%=bill.transport%></td>
                        <td><a href="/printBillOriginal/<%=bill._id%>" role="button" class="btn btn-secondary btn-sm"><i class="bi bi-printer-fill"></i></a></td>
                        <!-- <td><a href="/printBillDupe/<%=bill._id%>" role="button" class="btn btn-secondary btn-sm"><i class="bi bi-printer-fill"></i></a></td> -->
                        <td><a href="/deleteBill/<%=bill._id%>" role="button" class="btn btn-danger btn-sm">X</a></td>
                      </tr>
                    <% } %>
                     
                   <% }) %>
                  
                  <% } %>
                
               
              </tbody>
            </table>
      </div>

        <div class="col-md-12" style="background-color: #d9f3cc;">
          <h4 style="padding: 1% 0%;" >PARTIES LIST</h4>
          <table class="table" style="text-align: left;">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Address1</th>
                  <th scope="col">Address2</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">GST No.</th>
                  <th scope="col">GST Type</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                  <% if (clients) { %>
                   <% clients.forEach(client => { %>
                      <tr>
                          <th scope="row"><%= client.name %></th>
                          <td><%= client.address1 %></td>
                          <td><%= client.address2 %></td>
                          <td><%=client.city%></td>
                          <td><%=client.state%></td>
                          <td><%=client.gstNo%></td>
                          <td><%=client.gstType%></td>
                          <!-- <td>
                            <a href="/updateClient/<%=client._id%>" role="button" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-fill"></i></a>
                            
                          </td> -->
                          <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-<%=client._id%>">
                              <i class="bi bi-pencil-fill"></i>
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal-<%=client._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Particulars</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/updateParty/<%=client._id%>" method="post">
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">Party Name</span>
                                            <input type="text" class="form-control" value="<%=client.name%>" name="partyName" id="partyName" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">Address1</span>
                                            <input type="text" class="form-control" value="<%=client.address1%>" name="address1" id="address1" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">Address2</span>
                                            <input type="text" class="form-control" value="<%=client.address2%>" name="address2" id="address2" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">City</span>
                                            <input type="text" class="form-control" value="<%=client.city%>" name="city" id="city" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">State</span>
                                            <input type="text" class="form-control" value="<%=client.state%>" name="state" id="state" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">GST No.</span>
                                            <input type="text" class="form-control" value="<%=client.gstNo%>" name="gstNo" id="gstNo" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <span class="input-group-text" id="partyName">PAN / Aadhar</span>
                                            <input type="text" class="form-control" value="<%=client.panAadhar%>" name="panAadhar" id="panAadhar" placeholder="Party Name">
                                          </div>
                                          <div class="input-group mb-3">
                                            <button class="btn btn-sm btn-primary" type="submit">Update</button>
                                          </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                          <td><a href="/deleteClient/<%=client._id%>" role="button" class="btn btn-danger btn-sm">X</a></td>
                        </tr>
                   <% }) %>
                  <% } %>
                
               
              </tbody>
            </table>
      </div>
    </div>
</div>

 


<%- include('partials/footer') %>